node_modules/
.DS_Store
*.log
.env
*.bak
webapp-v2/dist/
webapp-v2/node_modules/
webapp-v2/api/avatar_cache/
webapp-v2/api/db.php
webapp-v2/login/node_modules/
webapp-v2/login/auth-config.php
webapp-v2/admin/api/admin-config.php
