node_modules/
.DS_Store
*.log
.env
*.bak
webapp/api/avatar_cache/
webapp-v2/dist/
webapp-v2/node_modules/
websocket/node_modules/
webapp/login/node_modules/
websocket/roomStates.json
websocket/api/room_*.json
websocket/avatars_*.json
